.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 93px;
}

.svg {
  height: 30px;
  width: 198px;
  display: flex;
  justify-content: center;
}

.svgMail {
  height: 30px;
  width: 198px;
  display: flex;
  justify-content: center;
}

.text-country {
  width: 198px;
  text-align: center;
  cursor: default;
}

@media screen and (max-width: 500px){
  .container-info {
    flex-direction: column;
  }

  .text-country {
    margin-bottom: 20px;
  }
}